<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babel</title>
</head>
<body>
    <p>Computer: {{ _('Machine') }}</p>
    <p>{{ anthony }}: Anthony</p>
    <p>US Num: {{ results['us_num'] }}</p>
    <p>SE Num: {{ results['se_num'] }}</p>
    <p>DE Num: {{ results['de_num'] }}</p>
    <p>KE Num: {{ results['ke_num'] }}</p>
    <p>US Date: {{ results['us_date'] }}</p>
    <p>SE Date: {{ results['se_date'] }}</p>
    <p>DE Date: {{ results['de_date'] }}</p>
    <p>KE Date: {{ results['ke_date'] }}</p>
</body>
</html>